@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}
body{ min-height: 220vh;  
    background-image:url('./images/Desktop\ -\ 31.png');
    background-repeat: repeat;
    background-position: absolute;
    background-size: cover;
    background-attachment: fixed;
 /*linear-gradient(rgba(219,235,248, 1), transparent)*/

}
header{
    height: 15vh;
    background: white;
    background: linear-gradient(to right bottom, rgba(225, 225, 225, 0.7), rgba(225, 225, 225, 0.9));
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 5rem;
}
.logo-container{
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h1{
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 2rem;

}
#logo{
    height: 8rem;
    width: 15rem;
}
.categories-section{
    height: 10%;
    width: 100%;
   /* background-color: aqua;*/
    font-size: 4rem;

}
.categories{
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
}

.categories-list{
    background-color: #A78080;
    color: white;
    height: 5rem; 
    width: 15rem;
   /*top & bottom   right & left*/
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.posters{
   width: 80vw;
    height: 90vh;
    margin: auto;
    /*background-color: cadetblue;*/
    display: grid;
    gap:2.5rem;
    grid-auto-rows: 30rem;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
}
.poster{
    /*background-color: rgb(97, 99, 170);*/
    background: white;
    background: linear-gradient(to right bottom, rgba(225, 225, 225, 0.7), rgba(225, 225, 225, 0.9));
    font-size: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    color: #8F8093;
    height: 30rem;
}
.poster:hover{
    background-color: white;
    cursor: pointer;
    
}
.movie-image{
    width: 80%;
    height: 85%;
}